body{
	background-color: #000000;
}
h1, h2{
	color: #FFFFFF;
	text-align: center;
}
#saveRaidButton, #editRaidButton, #reimportCSVButton{
	float: right;
}

#discord-login{
	display: none;
	width: 260px;
	background-color: #7289d9;
	border: 2px solid #0c40f3;
	border-radius: 25px;
	color: #FFFFFF;
	text-align: center;
	margin: 0 10px;
	font-weight: bold;
	text-shadow: 1px 1px #0c40f3
	box-shadow: 5px 5px #FFFFFF;
}

nav>div a, nav li .nav-link{
	color: #FFFFFF ;
}
.modal-content, #btnCloseModal, .close{
	background-color: #3f3f3f;
	color: #FFFFFF ;
	border-width: 2px;
	border-color: #FFFFFF;
}

.drop-placeholder {
background-color: lightgray;
height: 3.5em;
padding-top: 12px;
padding-bottom: 12px;
line-height: 1.2em;
}

.close{
	padding: 0;
	height: 30px;
	line-height: 30px;
	width: 30px;
	border: none;
	font-size: 30px;
}
#plusminus{
	position: relative;
	float: left;
	height: auto;
}
#plusminus>.fas{
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 20px;
}
#plusminus>.fa-minus-square{
	right: 25px;
}
form > div{
	color: #FFFFFF;
	float: left;
	background-color: #3f3f3f;
	border: 2px solid #000000;
	height: 190px;
	overflow: hidden;
	margin: 0 auto;
	padding: 5px 10px 0 10px;
	border-width: 0px;
}
form > div.row{
	height: 50px
}
form hr{
	margin: 20px auto;
}
#csvTextInputArea{
	resize: none;
	font-size: 14px;
}
#csvFileInputAreaDiv{
	height: 100px;
}
.raidNumbersDiv{
	display: inline-block;
	height: 50px;
}
#raidTeams, #classPicker, #raidTitle{
	background-color: #3f3f3f;
	color: #FFFFFF;
	clear: both;
	min-height: 200px;
	margin: 20px auto;

}

#raidTeams ul, #classPicker ul{
	float: center;
	background-color: #00000070;
	margin: 20px auto;
	font-weight: bold;
	max-width: 300px;
}
lh{
	position: relative;
	text-align: center;
	padding: 0 0 8px 0;

}
lh>span{
	position: absolute;
	margin: -6px 2px;
	width: 20px;
	font-size: 0.8em;
	right: 0;
	border: 2px solid #FFFFFF;
}
lh>p{
	display: inline;
}
li>span {
    vertical-align:middle;
    display:inline-block;
    background-size: 30px;
  	width: 30px;
  	height:30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  position: relative;
  right: 15px;
  transform: rotate(90deg);
  height: 45px;
}
input[type="number"]::-webkit-number-input{
	font-size: 2px;
}
#description-link{
	text-decoration: none !important;
}
.hideThis{
	display: none;
}

/*SPEC ICON PICKER*/

li.Druid.Balance>span{
	background-image: url("../images/Wow-Icons/images/spec/druid/balance.png") ;
}
li.Druid.Feral>span{
	background-image: url("../images/Wow-Icons/images/spec/druid/feral.png") ;
}
li.Druid.Guardian>span{
	background-image: url("../images/Wow-Icons/images/spec/druid/guardian.png") ;
}
li.Druid.Restoration>span{
	background-image: url("../images/Wow-Icons/images/spec/druid/restoration.png") ;
}
li.Hunter.Beastmastery>span{
	background-image: url("../images/Wow-Icons/images/spec/hunter/beastmastery.png") ;
}
li.Hunter.Marksman>span{
	background-image: url("../images/Wow-Icons/images/spec/hunter/marksman.png") ;
}
li.Hunter.Survival>span{
	background-image: url("../images/Wow-Icons/images/spec/hunter/survival.png") ;
}
li.Mage.Arcane>span{
	background-image: url("../images/Wow-Icons/images/spec/mage/arcane.png") ;
}
li.Mage.Fire>span{
	background-image: url("../images/Wow-Icons/images/spec/mage/fire.png") ;
}
li.Mage.Frost>span{
	background-image: url("../images/Wow-Icons/images/spec/mage/frost.png") ;
}
li.Paladin.Holy>span{
	background-image: url("../images/Wow-Icons/images/spec/paladin/holy.png") ;
}
li.Paladin.Protection>span{
	background-image: url("../images/Wow-Icons/images/spec/paladin/protection.png") ;
}
li.Paladin.Retribution>span{
	background-image: url("../images/Wow-Icons/images/spec/paladin/retribution.png") ;
}
li.Priest.Discipline>span{
	background-image: url("../images/Wow-Icons/images/spec/priest/discipline.png") ;
}
li.Priest.Holy>span{
	background-image: url("../images/Wow-Icons/images/spec/priest/holy.png") ;
}
li.Priest.Shadow>span{
	background-image: url("../images/Wow-Icons/images/spec/priest/shadow.png") ;
}
li.Rogue.Assassination>span{
	background-image: url("../images/Wow-Icons/images/spec/rogue/assassination.png") ;
}
li.Rogue.Combat>span{
	background-image: url("../images/Wow-Icons/images/spec/rogue/combat.png") ;
}
li.Rogue.Subtlety>span{
	background-image: url("../images/Wow-Icons/images/spec/rogue/subtlety.png") ;
}
li.Shaman.Elemental>span{
	background-image: url("../images/Wow-Icons/images/spec/shaman/elemental.png") ;
}
li.Shaman.Enhancement>span{
	background-image: url("../images/Wow-Icons/images/spec/shaman/enhancement.png") ;
}
li.Shaman.Restoration>span{
	background-image: url("../images/Wow-Icons/images/spec/shaman/restoration.png") ;
}
li.Warlock.Affliction>span{
	background-image: url("../images/Wow-Icons/images/spec/warlock/affliction.png") ;
}
li.Warlock.Demonology>span{
	background-image: url("../images/Wow-Icons/images/spec/warlock/demonology.png") ;
}
li.Warlock.Destruction>span{
	background-image: url("../images/Wow-Icons/images/spec/warlock/destruction.png") ;
}
li.Warrior.Arms>span{
	background-image: url("../images/Wow-Icons/images/spec/warrior/arms.png") ;
}
li.Warrior.Fury>span{
	background-image: url("../images/Wow-Icons/images/spec/warrior/fury.png") ;
}
li.Warrior.Protection>span{
	background-image: url("../images/Wow-Icons/images/spec/warrior/protection.png") ;
}

/*CLASS COLOR PICKER*/
main li{
	white-space:nowrap;
	overflow: hidden;
}
li.Druid{
	background-color: #FF7C0A;
}
li.Hunter{
	background-color: #AAD372;
}
li.Mage{
	background-color: #3FC7EB;
}
li.Paladin{
	background-color: #F48CBA;
}
li.Priest{
	background-color: #FFFFFF;
}
li.Rogue{
	background-color: #FFF468;
}
li.Shaman{
	background-color: #0070DD;
}
li.Warlock{
	background-color: #8788EE;
}
li.Warrior{
	background-color: #C69B6D;
}

.sortable-placeholder{
	background-color:#FFFFFF ;
	color: #000000;
	opacity: 0.3;
	height: 48px;
	line-height: 48px;
}

footer, header nav, .dropdown-menu, .dropdown-item{
	background-color: #3f3f3f;
	border-width: 0;
	color: #a8a8a8;
	clear: both;
}
.dropdown-item:hover, .navbar-dark .navbar-nav .nav-link:hover{
	color: #FFFFFF;
	background-color:#3f3f3f ;
}

/*raidHistoryModal*/
#historyForm>div{
	background-color: #e7e7e799;
	overflow-y: scroll;
}
.form-check-input:checked {
    background-color: #404040;
    border-color: #cfcfcf;

}

/*media queries*/
@media only screen and (max-width: 768px){
	#raidTeams, #classPicker{
			max-height: 	90vh;
			overflow-y: 	scroll	;

	}
	#raidTeams ul, #classPicker ul{
	max-width: 200px;
}
.row{
	margin: 0;
	padding: 0;
}

li>span {
    background-size: 20px;
  	width: 20px;
  	height:20px;
}
.list-group-item{
	padding: 5px 0;
}
.sortable-placeholder{
	height: 36px;
	line-height: 36px;
}
form > div.row{
	height: 60px
}
}